body {
  background: #f9f7fe;
}

h2 {
  text-align: center;
  font-size: 24px;
}

h3 {
  font-weight: 500;
  margin-top: 19px;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
}

.movie-app {
  background: white;
  max-width: 500px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-container {
  padding-bottom: 30px;
}

.search-input {
  background: #f9f7fe;
  border: none;
  font-size: 16px;
  padding: 12px 6px;
  border-radius: 5px;
  width: 80%;
}

.search-button {
  font-size: 16px;
  background: #ebabce;
  color: white;
  border: none;
  padding: 12px 14px;
  margin-left: 5px;
  line-height: 1;
  border-radius: 5px;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 0 8px;
  margin: 10px 14px 0;
}

.rating img {
  width: 5%;
  height: 5%;
  padding-top: 5px;
}
.rating h4 {
  font-size: 17px;
  font-weight: 500;
}

.details {
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 16px;
  margin: 8px;
}
.genre {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.genre div {
  border: 1px solid #ebabce;
  padding: 10px;
  margin: 0 10px;
  border-radius: 6px;
}

.movie-details {
  padding: 30px 0;
  text-align: center;
  margin-right: 36px;
}

footer {
  text-align: center;
  font-size: 9px;
  padding-top: 25px;
}
